@using EcommerceOsorio.Models;
@model Produto
@{

}

    
    <div>
 @using (Html.BeginForm("AlterarProduto", "Produto", FormMethod.Post, new { @class = "form-horizontal" }))
 {
    <fieldset>
        <legend>Alterar Produto</legend>
        @Html.HiddenFor(model => model.ProdutoId)
        <div class="form-group">
            @Html.Label("Nome do produto: ", new { @class = "control-label col-sm-2" })
            <div class="control-label col-sm-5">
                @Html.TextBoxFor(model => model.NomeProduto, new { @class = "form-control", @placeholder = "Nome do produto" })<br>
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Descrição do produto: ", new { @class = "control-label col-sm-2" })
            <div class="control-label col-sm-5">
                @Html.TextBoxFor(model => model.DescricaoProduto, new { @class = "form-control", @placeholder = "Descrição do produto" })<br>
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Preço do produto: ", new { @class = "control-label col-sm-2" })
            <div class="control-label col-sm-5">
                @Html.TextBoxFor(model => model.PrecoProduto, new { @class = "form-control", @placeholder = "Preço do produto" })<br>
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Categoria do produto: ", new { @class = "control-label col-sm-2" })
            <div class="control-label col-sm-5">
                @Html.TextBoxFor(model => model.CategoriaProduto, new { @class = "form-control", @placeholder = "Categoria do produto" })<br>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </div>
    </fieldset>
 }
    </div>
