
@{
    Layout = null;
    DateTime data = ViewBag.Data;
    List<EcommerceOsorio.Models.Produto> produtos = ViewBag.Produtos;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Gerenciamento de Produtos</title>
</head>
<body>
    <h1>Gerenciamento de Produtos</h1>
    @*<a href="~/Views/Cadastrar">Cadastrar Produto</a>*@


    @* Link em MVC | Razor *@
    @Html.ActionLink("Cadastrar Produto", "CadastrarProduto", "Produto")

    <br />
    <br />
    <div>
        <table border="1">
            <tr>
                <th>Nome</th>
                <th>Descrição</th>
                <th>Preço</th>
                <th>Categoria</th>
                <th>Alterar</th>
                <th>Remover</th>
            </tr>
            @foreach (var produto in produtos)
            {
                <tr>
                    <td>@produto.NomeProduto</td>
                    <td>@produto.DescricaoProduto</td>
                    <td>@produto.PrecoProduto</td>
                    <td>@produto.CategoriaProduto</td>
                    <td>@Html.ActionLink("Alterar", "AlterarProduto", "Produto", new { id = produto.idProduto }, null)</td>
                    <td>@Html.ActionLink("Remover", "RemoverProduto", "Produto", new { id = produto.idProduto }, null)</td>
                </tr>
            }
        </table>
    </div>
    <br />
    @data


</body>
</html>