@using EcommerceOsorio.Models
@model List<ItemVenda>
@{
    ViewBag.Title = "CarrinhoCompras";
}

<h2>Carrinho de compras</h2>
<table class="table table-hover table-striped" style="margin-top:30px">
    <tr>
        <th>Imagem</th>
        <th>Produto</th>
        <th>Quantidade</th>
        <th>Preço</th>
        <th>Subtotal</th>
    </tr>
    @{ double total=0; }
    @foreach (ItemVenda item in Model)
    {
        <tr>
            <td><img src="~/Images/@item.ProdutoVenda.ImagemProduto" alt="Imagem do produto" style="width:100px" /></td>
            <td>@item.ProdutoVenda.NomeProduto</td>
            <td>@item.QtdeVenda</td>
            <td>@item.PrecoVenda</td>
            @{ double subtotal = item.PrecoVenda * item.QtdeVenda; }
            @{ total += subtotal; }
            <td>@subtotal.ToString("C2")</td>
            <td></td>
        </tr>
    }
</table>

@if (@total != 0)
{
    <div align="right">
        <h3>Total: @total.ToString("C2")</h3>
    </div>
}



