@model EcommerceOsorio.Models.Produto
@{
    ViewBag.Title = "ProdutoDetalhe";
}

<table style="margin-left: 35px">
    <tr>
        <td colspan="4">
            <h4>@Model.NomeProduto</h4>
        </td>
    </tr>
    <tr>
        <td style="width:100px">
            <img src="~/Images/@Model.ImagemProduto" style="width:200px;height:200px"/>
        </td>
        <td style="vertical-align: top; padding-left: 35px">
            <font size="4">
                <b>Descrição: </b>
                @Model.DescricaoProduto<br />
            </font>
            <font size="4">
                <b>Preço: </b>@Model.PrecoProduto.ToString("C2")<br /></font>
            <font size="4">
                <b>Categoria: </b>@Model.CategoriaProduto.NomeCategoria
                <br /></font><br />
            <font size="4">
                @Html.ActionLink("Adicionar", "AdicionarAoCarrinho", "Home", new { id = Model.ProdutoId }, new { @class = "btn btn-success "}) <br />
                </font>
</td>
    </tr>
</table>


