<!DOCTYPE html>
<html>
    <head>
        <title>@Page.Title</title>
        @RenderSection("head", required: false)
        <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            @Html.ActionLink("Ecommerce - UP", "Index", "Produto", null, new { @class = "navbar-brand" })
        </nav>

        <div>
            @RenderBody()
        </div>

        <hr style="margin-top:30px" />
            <footer style="text-align:center">
                <p>&copy; @DateTime.Now.Year - Desenvolvido por Anna Nester</p>
            </footer>
    </body>
</html>
