@using EcommerceOsorio.Models
@model List<Categoria>
@{
    DateTime data = ViewBag.Data;
}

<div>
    <h2>Gerenciamento de Categorias</h2>

    @* Link em MVC | Razor *@
    @Html.ActionLink("Cadastrar Categoria", "CadastrarCategoria", "Categoria")

    <br />
    <br />
    <table class="table table-hover table-striped" style="margin-top:30px">
        <tr>
            <th>Nome</th>
            <th>Descrição</th>
            <th>Alterar</th>
            <th>Remover</th>
        </tr>
        @foreach (var categoria in Model)
            {
            <tr>
                <td>@categoria.NomeCategoria</td>
                <td>@categoria.DescricaoCategoria</td>
                <td>@Html.ActionLink("Alterar", "AlterarCategoria", "Categoria", new { id = categoria.CategoriaId }, new { @class = "btn btn-info" })</td>
                <td>@Html.ActionLink("Remover", "RemoverCategoria", "Categoria", new { id = categoria.CategoriaId }, new { @class = "btn btn-danger" })</td>
            </tr>
        }
    </table>

    <p>Dados atualizados às: <b> @data</b></p>
</div>




